<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <style>
        *{
            {% comment %} background-color: rgb(255, 180, 152); {% endcomment %}
            {% comment %} padding: 2px; {% endcomment %}
            font-family: sans-serif;
        }
        ul{
            line-height:50px;
            background-color:#222;
            color:white;
        }
        ul li{
            display:inline-block;
            width: 100px;
        }
        main{
            padding-left:30px;
        }
    </style>
</head>
<body>
    {% include "partials/_header.html" %}
    <main>
        {%block content%}
        {% endblock %}
    </main>
</body>
</html>